<!DOCTYPE html>
{# base template from which others inherit #}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <title>BlogStop</title>
</head>

<body>
  <a href="/blog" class="main-title">
    BlogStop
  </a>

  <div class="login-area">
    {% if user %}
      {{user.username}} (<a class="login-link" href="/blog/logout">Logout</a>)
    {% else %}
      <a class="login-link" href="/blog/login">Login</a>
      |
      <a class="login-link" href="/blog/signup">Signup</a>
    {% endif %}
  </div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

