{% extends "base.html" %}

{# form to delete a blog post #}
{% block content %}
    <form class="post" method="post">
        <h3>Are you sure you want to delete this post?</h3>
        <input type="button" id="cancel-button" value="Cancel">
        <input type="Submit" value="Delete">
        <br>
        <br>
        <div class="post-heading">
            <div class="post-title">{{blog.subject}}</div>
            <div class="post-date">{{blog.created.strftime("%b %d, %Y")}}</div>
            <div class="post-user">Created by {{blog.user.username}}</div>
        </div>
        <pre width="30" class="post-content">{{blog.content | safe}}</pre>
    </form>
    <script type="text/javascript">
        // go back to previous page on clicking cancel
        var button = document.getElementById('cancel-button');
        button.addEventListener('click',function(){
            window.location.href = window.history.back()
        })
    </script>
{% endblock %}