{% extends "base.html" %}

{% block content %}
<form method="post">
	<h2>Login</h2>
	<table>
		<tbody>
			<tr>
				<td class="label">
					Username
				</td>
				<td>
					<input type="text" name="username" value="{{username}}">
				</td>	
			</tr>
			<tr>
				<td class="label">
					Password
				</td>
				<td>
					<input type="password" name="password">
				</td>	
			</tr>
		</tbody>
	</table>	
	<br>
	<div class="error">
		{% if error %}
			{{error}}
		{% endif %}
	</div>
	<div>
		<input type="submit"> 
	</div>
    <hr>
    <div>
        New user? <a href="/blog/signup">Sign Up</a>
    </div>	
</form>
{% endblock %}