{% extends "base.html" %}

{# template to create a new post #}
{% block content %}
  <h2>New Post</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" id="post-subject" value="{{subject}}">
      </label>

      <label>
        <div>Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>
      <input type="button" id="cancel-button" value="Cancel">
      <input type="submit">
    </form>
    <script type="text/javascript">
        var button = document.getElementById('cancel-button');
        button.addEventListener('click',function(){
            window.location.href = window.history.back()
        })
    </script>
{% endblock %}
